{% extends 'base_pages.html.twig' %}

{% block title %}Bienvenue chez Sandrine{% endblock %}

{% block body %}

<article class="container-fluid ">
    <div class="row">
        <div class="col-12 bigTitle text-center">
            Sandrine Coupart
        </div>

        <h1 class="col-12 text-center">
            DIETETICIENNE-NUTRITIONNISTE
        </h1>
    
        <h2 class="h2 text-center">
            Venez vous sentir mieux
        </h2>
    </div>    

    <div class="row roundApricot pt-5">
        <div class="col-12">
        
            <div class="container">
                <div class="row">
                    <div class="col-6 myJade">
                        <h2>
                            Bienvenue sur mon site
                        </h2>
                        <div class ="h4 ">
                            Je suis diététicienne diplômée, spécialisée en nutrition, régimes et conseils de santé. En tant que professionelle de santé, je prends en charge des patients dans le cadre de consultations diététiques.<br>
                            J'anime également des ateliers de prévention et d'information sur la nutrition.
                        </div>
                    </div>
                    
                    <div class="col-6">
                    
                    </div>

                </div>
            </div>










        </div>
    </div>




</article>



<div class=" container">


</div>

{% endblock %}
