{% extends 'base_pages.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<!-- myCSS -->
{# <link rel="stylesheet" href="{{ asset('ASSETS/CSS/style_recettes.css') }}"> #}

<article class="container-fluid">
  <div class="row pb-0 mb-0">

    <h1 class="col-12 text-center ">
        MENTIONS LEGALES
    </h1>

    <div class="col-12">
      En vigueur au 01/01/2023
    </div>

    <div class="col-12">
      
    </div>

