
/* R E S P O N S I V I T Y -------------------------------------------------------------- */
/*                                      RESPONSIVITY : WIDTH VALUES INFERIOR 350px LARGE */

.myLogo{
  background-image: url("../IMG/logoW.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70px;
  width: 80px;
  /* border: 2px solid orange; */
  /* box-shadow: 0 0 5px rgba(255, 255, 255,0.92); */
}

.myTitle{ 
  font-family: var(--font0);
  font-weight: bolder;
  word-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 3px 4px rgba(137, 137, 135, 0.3);
  border-width: 0;
  color: var(--colorCoffee);
  text-decoration: none;
  /* top:140px; */
  /* position:absolute; */
  line-height: 42px;
  font-size: 40px;
}

.bigTitle{ 
  font-family: var(--font0);
  /* width: 100%; */
  /* font-size: 120px; */
  font-weight: bolder;
  word-wrap: break-word;
  white-space: normal;
  text-shadow: 2px 3px 4px rgba(137, 137, 135, 0.4);
  border-width: 0;
  color: var(--colorCoffee);
  text-decoration: none;
  /* top:140px; */
  /* position:absolute; */
  font-size: 16vw;
  line-height: 20vw;
  vertical-align: bottom;
}

.myWidth{
  /* max-width: 95%; */
  /* padding: auto; */
  margin: 0;
}
.myWidthSmall{
  max-width: 95%;
  max-width: 500px;
}

/* R E S P O N S I V I T Y -------------------------------------------------------------- */
/*                                 RESPONSIVITY : WIDTH VALUES from 576px to 992px LARGE */
@media (min-width: 576px){
  .myLogo{
    height: 5em;
    width: 6em;
  }  
  .myTitle{
    /* font-size: 30px; */
    word-wrap: normal;
    white-space: nowrap;
    line-height: 16px;
  }
  .bigTitle{ 
    font-size: 12vw;
    line-height: 16vw;
  }
  .myWidth{
    max-width: 95%;
    max-width: 600px;
  }
  .myWidthSmall{
    max-width: 95%;
    max-width: 500px;
  }
}

/* R E S P O N S I V I T Y -------------------------------------------------------------- */
/*                               RESPONSIVITY : WIDTH VALUES MORE THAN 992px LARGE = 'LG'*/
@media (min-width: 992px){
  .myLogo{
    height: 6em;
    width: 7em;
  } 
  .myTitle{
    font-size: 42px;
    line-height: 34px;
  }
  .myWidth{
    max-width: 650px;
  }
  .bigTitle{ 
    font-size: 120px;
    line-height: 200px;
  }
  .myWidthSmall{
    max-width: 500px;
  }
}
