/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Dancing+Script:wght@400;500&family=Euphoria+Script&family=Hind:wght@300&family=Inspiration&family=Mako&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Qwitcher+Grypen:wght@400;700&family=Ruthie&family=Shadows+Into+Light+Two&display=swap');

/*
font-family: 'Hind', sans-serif;
font-family: 'Inspiration', cursive;
font-family: 'Mako', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Ruthie', cursive;
*/

/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  
  --colorCoffee: #573D1C;
  --colorApricot: #FFC6AC;
  --colorPear: #C1DF1F; 
  --colorJade: #00A878;

  --font0: 'Ruthie', cursive;
  --font1: 'Playfair Display', serif; 
  --font2: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myApricotBG{
  background-color: var(--colorApricot);
}
.myPearBG{
  background-color: var(--colorPear);
}
.myCoffee{
  color: var(--colorCoffee)
}
.myApricot{
  color: var(--colorApricot);
}
.myPear{
  color: var(--colorPear);
}
.myJade{
  color: var(--colorJade);
}

.title{
  color: var(--colorApricot);
}
h1{
  color: var(--colorCoffee);
  font-family:var(--font1);
}
h2{
  color: var(--colorJade);
  font-family:var(--font2);
}

.myImages{
  width: 100%;
  height: auto;
}
/*
.arab1{
  width: 45vw;
  max-width: 140px;
}

.myHeader{
  height: 100%;
  background-color: var(--color0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7) ;
}

.myActive, .myActive:visited, .myActive:hover, .myActive:active {
  color: var(--color1);
  font-weight: bolder;
}

.my-divider {
  width: 100%;
  height: 10px;
  background-color: var(--color1);
  background-color: var(--color0);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
*/
body{
  padding: 0;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font2);
  line-height: 110%;
  font-size: 1.2rem;
}

html{
  font-size: 16px;
}