
.positUp{
  position: relative;
  top: -45px;
  color: white;
  text-shadow: 2px 2px 6px #00a878;
}

.recette{
  border: 3px solid var(--colorApricot);
  border-radius: 20px;
  box-shadow: inset 0 0.5em 1.5em rgba(255, 198, 172, 0.7), inset 0 0.125em 0.5em rgba(255, 198, 172, 0.15);
  max-width: 400px;
  min-height: 270px;
  text-decoration: none;
  transition: transform 0.5s,border-bottom-right-radius 1.5s;
}
.recette:hover{
  transform:scale(1.05);
  border-bottom-right-radius: 60px;
  box-shadow: inset 0 0.5em 1.5em rgba(255, 198, 172, 0.7), inset -1em 1em 1em rgba(255, 198, 172, 0.15);
}

.recetteTitre{
  min-height: 77px;
}

.regime{
  background-color: var(--colorJade);
  color: white;
  border-radius: 2000px;
  margin: 0.1em;
  padding: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  display:inline-block;
}

.star{
  color: rgb(86, 86, 38);
  color: white;
  transition: transform .1s;
}
.star:hover{
  color: var(--colorJade);
  transform: rotate(0.5turn) !important;
}
.starSelected{
  color: var(--colorJade);
}

.msg{
  font-size: 1.2rem;
}

.upperView{
  position: relative;
  top: -100px;
}

.mealPic{
  width: 530px;
}

.imgDeco {
  background-image: none;
  background-repeat: no-repeat;
}

/* RESPONSIVITY : WIDTH VALUES from 576px to 767px -> BOOTSTRAP 'sm' */
@media (min-width: 576px){
  
  .imgDeco {
  background-image: url("/ASSETS/IMG/couvertsJ.png");
  background-size: 60px;
  background-position: 70px 15px;
  /* background-blend-mode: soft-light; */
  }
}

/* RESPONSIVITY : WIDTH VALUES >= 768px -> BOOTSTRAP 'md' */
@media (min-width: 768px){
  
  .imgDeco {
  background-size: 90px;
  background-position: 40px 30px;
  }
}

/* RESPONSIVITY : WIDTH VALUES >= 992px -> BOOTSTRAP 'lg/xl/xxl' */
@media (min-width: 992px){
  
  .imgDeco {
  background-size: 100px;
  background-position: 60px 26px;
  }
}





.fiche {
  background-color: rgb(229, 255, 192, 0.3);
}
.couverts {
  max-width: 200px;
  opacity: 50%;
}