/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Euphoria+Script&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@500&family=Qwitcher+Grypen:wght@400;700&display=swap');

/*
font-family: 'Kanit', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Varela Round', sans-serif;
*/


/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {  
  --colorCoffee: #573D1C;
  --colorApricot: #FFC6AC;
  --colorPear: #C1DF1F; 
  --colorJade: #00A878;

  --font0: 'Qwitcher Grypen', cursive;
  --font1: 'Varela Round', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

.myApricotBG{
  background-color: var(--colorApricot);
}
.myPearBG{
  background-color: var(--colorPear);
}
.myJadeBG{
  background-color: var(--colorJade);
}
.myCoffee{
  color: var(--colorCoffee)
}
.myApricot{
  color: var(--colorApricot);
}
.myPear{
  color: var(--colorPear);
}
.myJade{
  color: var(--colorJade);
  /* text-align: justify; */
}

.myTitle{
  font-family:var(--font0);
}
h1{
  color: var(--colorJade);
  font-family:var(--font1);
}
h2{
  color: var(--colorCoffee);
  font-family:var(--font2);
}

.myImages{
  width: 100%;
  height: auto;
}

.myHead{
  height: 150px;
}

.myHeader{
  height: 75px;
  background-color: var(--colorApricot);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7) ;
  /* border-bottom-left-radius: 5px; */
  border-bottom-right-radius: 50px;
}

.roundApricot{
  display: block;
  /* height: 100%; */
  border-top-left-radius: 150px;
  border-top-right-radius: 50px;
  background-color: var(--colorApricot);
}

.roundApricotBottom{
  display: block;
  height: 40px;
  background-color: var(--colorApricot);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px ;
}

.borderJade{
  border: 3px solid var(--colorJade);
}
.borderJadeTop{
  border: 3px solid var(--colorJade);
  border-bottom: 0;  
}
.borderJadeBottom{
  border: 3px solid var(--colorJade);
  border-top: 0;
}
.borderApricot{
  border: 4px solid var(--colorApricot);
}

.roundJade{
  display: block;
  height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 150px ;
  background-color: var(--colorJade);
  box-shadow: 0 -3px 3px rgb(132, 83, 15, 0.4);
}

.upperView{
  position: relative;
  top: -85px;
  /* text-shadow: 0 4px 4px 4px black; */
}

.block-100{
  display: block;
  height: 100px;
}

.max-300{
  max-width: 300px;
}
.max-400{
  max-width: 400px;
}
.max-500{
  max-width: 500px;
}
.max-1400{
  max-width: 1400px;
}

.hidden{
  display: none;
}

.logo{
  width: 100px;
}

.btonContact{
  display: block;
  height: 50px;
  width: 250px;
  background-color: var(--colorApricot);
  color:white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 45px;
  text-align: center;
  padding: 10px;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15),0 0.125em 0.5em rgba(0, 0, 0, .55);
  text-decoration: none;
  cursor: pointer;
  transition: color 800ms ease-in-out, border-color 300ms ease-in-out, transform 200ms ease-in-out, background-color 1400ms ;
}
.btonContact:hover{
  box-shadow: inset 0 0em 1.5em rgba(35, 232, 97, 0.9), 0 0.125em 0.5em rgba(149, 238, 6, 0.95);
  color: var(--colorCo);
  background-color: yellow;
}

footer {
  color: var(--colorCoffee)
}

footer a{
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--colorApricot);
  font-weight: bold;
  color: var(--colorJade);
}
footer a:hover{
  font-weight: bolder;
  text-shadow: 2px 2px 1px yellow;
}


body{
  padding: 0;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font2);
  line-height: 140%;
  font-size: 1.2rem;
}