/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Dancing+Script:wght@400;500&family=Euphoria+Script&family=Hind:wght@300&family=Inspiration&family=Mako&family=Montserrat+Alternates:wght@700&family=Montserrat:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Qwitcher+Grypen:wght@400;700&family=Ruthie&family=Shadows+Into+Light+Two&display=swap');

/*
font-family: 'Hind', sans-serif;
font-family: 'Inspiration', cursive;
font-family: 'Mako', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Ruthie', cursive;
*/

/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {  
  --colorCoffee: #573D1C;
  --colorApricot: #FFC6AC;
  --colorPear: #C1DF1F; 
  --colorJade: #00A878;

  --font0: 'Qwitcher Grypen', cursive;
  --font1: 'Playfair Display', serif; 
  --font2: 'Montserrat', sans-serif;
}

.myApricotBG{
  background-color: var(--colorApricot);
}
.myPearBG{
  background-color: var(--colorPear);
}
.myCoffee{
  color: var(--colorCoffee)
}
.myApricot{
  color: var(--colorApricot);
}
.myPear{
  color: var(--colorPear);
}
.myJade{
  color: var(--colorJade);
}

.myTitle{
  color: var(--colorApricot);
  font-family:var(--font0);
}
h1{
  color: var(--colorJade);
  font-family:var(--font1);
}
h2{
  color: var(--colorCoffee);
  font-family:var(--font2);
}

.myImages{
  width: 100%;
  height: auto;
}

.myHeader{
  /* height: 100%; */
  height: 4em;
  background-color: var(--colorApricot);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7) ;
}

.roundApricot{
  display: block;
  /* height: 100px; */
  height: 100%;
  border-top-left-radius: 150px;
  border-top-right-radius: 50px;

  background-color: var(--colorApricot);
}

.roundJade{
  display: block;
  /* height: 100px; */
  height: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 150px ;
  background-color: var(--colorJade);
  box-shadow: 0 -3px 3px rgb(132, 83, 15, 0.4);
}

.positUp{
  position: relative;
  top: -80px;
}

.block-100{
  display: block;
  height: 100px;
}


.max-300{
  max-width: 300px;
}

/*
.arab1{
  width: 45vw;
  max-width: 140px;
}


.myActive, .myActive:visited, .myActive:hover, .myActive:active {
  color: var(--color1);
  font-weight: bolder;
}

.my-divider {
  width: 100%;
  height: 10px;
  background-color: var(--color1);
  background-color: var(--color0);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
*/
body{
  padding: 0;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font2);
  line-height: 140%;
  font-size: 1.2rem;
}

/* html{
  font-size: 16px;
  line-height: 40px;
} */

.myHead{
  /* position:fixed; */
  /* z-index: 2; */
  /* top: 0;
  left: 0px;
  right: 0; */
  transition: .7s ease;
  height: 150px;
}

.btonContact{
  display: block;
  height: 50px;
  width: 250px;
  background-color: var(--colorApricot);
  color:white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 45px;
  text-align: center;
  padding: 10px;
  /* box-shadow: darkslategrey; */
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15),0 0.125em 0.5em rgba(0, 0, 0, .55);
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms ease-in-out, border-color 300ms ease-in-out, transform 200ms ease-in-out ;
}
.btonContact:hover{
  box-shadow: inset 0 0em 1.5em rgba(35, 232, 97, 0.9), 0 0.125em 0.5em rgba(149, 238, 6, 0.95);
  color: var(--colorCo);
  background-color: yellow;
}
