.upperView{
  position: relative;
  top: -21vw;
  text-shadow: 0 5px 5px black;
}
.recette{
  /* margin: 3px; */
  border: 3px solid var(--colorApricot);
  border-radius: 20px;
  /* box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15); */
  box-shadow: inset 0 0.5em 1.5em rgba(255, 198, 172, 0.7), inset 0 0.125em 0.5em rgba(255, 198, 172, 0.15);
  max-width: 400px;
  min-height: 270px;
}
.recetteTitre{
  min-height: 77px;
  text-shadow: 0px 0 7px var(--color2), 1px 1px 1px rgb(17, 41, 29, 70%);
}

.regime{
  background-color: var(--colorJade);
  color: white;
  border-radius: 2000px;
  margin: 0.1em;
  padding: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  display:inline-block;
}

/* RESPONSIVITY : WIDTH VALUES from 576px to 992px LARGE */
@media (min-width: 576px){

  .upperView{
    position: relative;
    top: -100px;
  }

  .mealPic{
    width: 530px;
  }
}

/* RESPONSIVITY : WIDTH VALUES MORE THAN 992px LARGE = 'LG'*/
@media (min-width: 992px){
  



}